.env.local
functions/node_modules/
**/.DS_Store
/.DS_Store
flutter_client/.dart_tool/
flutter_client/build/
flutter_client/ios/Pods/
flutter_client/android/.gradle/
flutter_client/android/app/google-services.json
flutter_client/ios/Runner/GoogleService-Info.plist
package-lock.json
